* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  body {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(122, 77, 4);
  }

  nav {
    background: rgba(245, 245, 245, 0.381);
    min-height: 100px;
    
  }

  header {
    height: 140px;
    width: 100vw;
}
.navbar {
    position: absolute;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: goldenrod;
}
.navbar a {
    font-family: 'Playfair Display', serif;
    color: rgb(122, 77, 4);
    
}
.navbar .logo {
    font-size: 2em;
    padding: 10px;
}
.navbar .nav-link ul {
    display: flex;
} 
.navbar .nav-link ul li {
    margin: 0px 25px;
}
.navbar .nav-link ul li.active a {
    font-weight: 600;
}
.navbar .menu {
   max-width: 80px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 50px;
    display: none;
}
span {
    color: goldenrod;
    width: 100px;
    cursor: pointer;
}
h1{
    text-align: center;
    margin: 50px 0px;
    font-size: 2em;
}
.categorie-container{
    display: flex
}
.categorie-part-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 50px 0px;
}
.categorie-part-container h2 {
    text-transform: uppercase;
    font-weight: 700;
}
.categorie-part-container p {
    width: 80%;
    margin: 30px auto 30px;
}
.categorie-part-container button {    
        color: rgb(148, 113, 23);
      border-color: rgb(148, 113, 23);
      box-shadow: 0px 1px 20px 0;
      letter-spacing: 1px;
      padding: 10px 20px;
      background-color: rgb(237, 227, 200);
}
.partie1{
    margin: 5px;
    padding: 10px;
    border: 0.5px solid;
}
.partie2 {
    margin: 5px;
    padding: 10px;
    border: 0.5px solid;
}
.partie3 {
    margin: 5px;
    padding: 10px;
    border: 0.5px solid;
}

    footer {
        background: goldenrod;
        min-height: 100px;
    }
